.pop-up__input {
  width: 358px;
  margin: auto;
  padding-top: 49px;
  display: grid;
  gap: 30px;
}

@media screen and (max-width: 540px) {
  .pop-up__input {
    width: 238px;
    padding-top: 75px;
  } 
}